<template>
<q-card class="generator__card flex flex-center">
  <q-card-section class = "avatar q-pt-lg flex flex-center">
       <q-img :src="'data:image/png;base64, '+avatar" v-if="!loading && !generating && avatar!== '' "/>
       <div v-else-if="generating"><h5>drawing image...</h5></div>
       <div v-else-if="loading"><h5>Generating avatar...</h5></div>
       <div v-else><h5>HIT THE BUTTON</h5></div>
  </q-card-section>
  <q-card-section class="flex flex-center ">
       <q-btn
        :loading="loading || generating"
        elevated
        ripple
        class="bg-warning"
        @click="generateAvatar"
       >
        Generate new Avatar
      </q-btn>
  </q-card-section>
</q-card>
</template>

<script>
// import AvatarWelder from 'components/AvatarWelder'
import { generatorApi } from 'boot/axios'
export default {
  name: 'GeneratorUI',
  components: {
    // AvatarWelder
  },
  data: function () {
    return {
      avaURLs: {},
      avatar: '',

      loading: false,
      generating: false
    }
  },
  methods: {
    generateAvatar () {
      this.loading = true

      this.avaURLs = {}
      generatorApi.get('/create').then(response => {
        this.avaURLs = response.data
        this.loading = false
        this.generating = true
        console.log(this.avaURLs)
        generatorApi.post('/create', this.avaURLs).then(response => {
          this.avatar = response.data
          this.generating = false
        })
      })
        .catch((e) => console.error(e))
    }
  }
}
</script>

<style lang="stylus" scoped>
.avatar
  height: 450px
  width: 450px
.generator__card
  height: 520px
  width: 460px
h5
  text-transform uppercase
</style>
